[Unit]
Description=Direwolf Server

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=prad
Group=packetradio
ExecStart=/usr/bin/tmux new-session -s dw%i -d '/usr/local/bin/direwolf -c /opt/direwolf/direwolf.conf -p'
ExecStop=/usr/bin/tmux send-keys -t dw%i C-c
KillMode=none
WorkingDirectory=/opt/direwolf
After=sound.target
After=network.target
