[Unit]
Description=LinBPQ Server

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=prad
Group=packetradio
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/tmux new-session -s bpq%i -d '/opt/linbpq/linbpq'
ExecStop=/usr/bin/tmux send-keys -t bpq%i C-c
KillMode=none
WorkingDirectory=/opt/linbpq
Requires=direwolf.service
